<div class="tips-container">
    <h2>Bonnes pratiques au quotidien</h2>
    <p>Il existe plusieurs bonnes habitudes à prendre afin de mieux s'organiser au travail. On peut notamment citer :</p>
    <ul>
      <li>Prendre 15 minutes par jour pour faire le point sur la journée le matin et jeter un œil sur celle du lendemain.</li>
      <li>Avoir son plan de journée à portée de main afin de ne pas perdre le fil de sa journée.</li>
      <li>Être rigoureux dans son organisation et respecter son planning autant que possible.</li>
      <li>Tenir son planning à jour, valider les tâches réalisées, les rendez-vous effectués...</li>
      <li>Éviter d’être dérangé lorsque la tâche du moment le requiert.</li>
      <li>Se réserver des moments de calme pour les tâches inhérentes à la fonction de manager.</li>
      <li>Prévoir du temps pour les imprévus.</li>
      <li>Lister les microtâches par ordre d'importance et d'urgence (utiliser la matrice d'Eisenhower par exemple).</li>
    </ul>
  </div>
  